html{
    height: 100%;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    height: inherit;
}

.wrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: fit-content;
    height: fit-content;
    background-color: #28334A;
    border-radius: 10px;
    padding: 10px 0px;
}

#screen{
    height: 100px;
    width: 350px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;
    color: #BC955C;
    font-size: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-content-row{
    width: max-content;
    margin: 1vh;
    display: flex;
    gap: 2.2vh;
}

.calc-button{
    width: 75px;
    height: 75px;
    border-radius: 20px;
    color: white;
    background-color: black;
    transition: .3s;
    font-size: 26px;;
}

.calc-button:hover{
    background-color: lightgray;
    transform: scale(1.5);
    transition: .3s;
}